*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #81c595;
    color:teal;
    line-height: 1.6;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*100% del alto del dispositivo*/
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg, #acdbc9 0%, #a1ca71 100%);
}

.portada{
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 4px solid teal;
    padding: 40px 20px;
    border-radius: 24px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 25px 50px -12px #81c595 ;
    animation: fadeIn 1.5s  ease-out; /*trabaja con @keyframes */
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to {  opacity: 1; transform: translateY(0); }
}

/*Imagen del perfil*/
.portada img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0 0 20px teal;
}
h1{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 5px;
    
}
p{
    font-size: 1rem;
    color: #504B43;
    margin-bottom: 20px;
    font-weight: 500;
}
hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, teal, transparent);
    margin-bottom: 25px;
}
.btn-link{
    display: block;
    background-color: #7DBA84 ;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin: 12px 0;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3 cubic-bezier(0.4,0,0.2,1);
    border: 3px solid teal;
}
.btn-link:active{
    transform: scale(0.95);
    background-color:rgb(255, 218, 116);
    color:white;
}

/*SECCION NUEVA*/
section{
    padding: 40px 20px;
    max-width: 450px;
    margin: 0 auto;
}
h2{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contenedor-etiquetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
.etiqueta{
    background:rgb(255, 218, 116) ;
    padding: 8px 16px;
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
    font-size: 0.9rem;
    transition: 0.3s;
}

.proyectos-slider{
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
}

.proyectos-slider::-webkit-scrollbar {display: none;}

.tarjeta-proyecto{
    flex: 0 0 160px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    scroll-snap-align: start;
}
.tarjeta-proyecto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.tarjeta-proyecto p{
    font-size: 0.85rem;
    color:teal;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;        /*Evita que el texto salte dos lineas si es que resulta muy largo*/
    overflow: hidden;           /*Si el nobre es muy largo lo oculta*/
    text-overflow: ellipsis;    /*y este le pone tres puntitos*/
}

/* Estilos FOOTER */
.pie-pagina{
    background:#504B43;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.formulario input, .formulario textarea{
    width: 100%;
    background:rgb(255, 255, 255);
    border: 4px solid teal;
    padding: 15px;
    border-radius: 10px;
    color: teal;
    margin-bottom: 15px;
    font-size: 1rem;
}

.btn-enviar{
    width: 100%;
    background: teal;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.pie-pagina p{
    font-size: 0.8rem;
    color: #81c595;
    margin-bottom: 5px;
}
.pie-pagina.version{
    font-size: 0.7rem;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.redes-sociales{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociales span{
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, rgb(255, 218, 116) , teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 8px;
    background-color:  rgba(42, 255, 131, 0.288);
    border: 2px solid rgba(253, 253, 253, 0.253);
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0% {
transform: translateY(0px);
/*Posicion inicial */
}
50%
{
transform:
translateY(-8px);
/*Sube 8 pixeles */
}
100%{
transform:
translateY(0px);
/* Regresa al origen */
}
}